## Data Types in Python 

The following data types can be used in base python:
* **boolean**
* **integer**
* **float**
* **string**
* **list**
* **None**
* complex
* object
* set
* dictionary

We will only focus on the **bolded** ones

 

## 1.  Numérica o cuantitativa (tomar la media tiene sentido)
* 1.1 Discrete
    * Integer (int) #Stored exactly
* 1.2 Continuous
    * Float (float) #Stored similarly to scientific notation. Allows for decimal places but loses precision.

In [ ]:
import math

### Integers

In [ ]:
type(4.0)

In [ ]:
type(0)

In [ ]:
type(-3)

### Try taking the mean

In [ ]:
numbers = [2, 3, 4, 5]
print(sum(numbers)/len(numbers))
type(sum(numbers)/len(numbers)) #In Python 3 returns float, but in Python 2 would return int

### Floats

In [ ]:
numbers = [2, 3, 4, 5]

print(sum(numbers)/len(numbers))
type(sum(numbers)/len(numbers)) #In Python 3 returns float, but in Python 2 would return int

###  **Floats**

In [ ]:
3/5

In [ ]:
6*10**(-1) # 6 x 10 ^(-1) = 0.60

In [ ]:
type(3/5)

In [ ]:
print(math.pi)
type(math.pi)

In [ ]:
type(4.0)

In [ ]:
# Try taking the mean
numbers = [math.pi, 3/5, 4.1]
type(sum(numbers))

 ## 2. Categorical or Qualitative
 * 2.1 Nominal
     * Boolean (bool)
     * String (str)
     * None (NoneType)
 * 2.2 Ordinal
     * Only defined by how you use the data
     * Often important when creating visuals
     * Lists can hold ordinal information because they have indices

### **Boolean**

In [ ]:
# Boolean
type(True)

In [ ]:
type(bool('yes'))

In [ ]:
# Boolean
x = 6
y = 7
if x < y:
    print("{} es menor que {}".format(x,y))
print('Mensaje predefinido') # default message.

In [ ]:
if x < y:
    print("{} es menor que {}".format(x,y))
else:
    print("{} es mejor que {}".format(x,y))

In [ ]:
myList = [True, 6<5, 1==3, None is None]

for element in myList:
    print(element, '\t', type(element))

In [ ]:
print('Mean is :\t', sum(myList)/len(myList))
type(sum(myList)/len(myList))

### **String**

In [ ]:
type("This sentence makes sense")

In [ ]:
type("Makes sentense this sense")

In [ ]:
print(math.pi)
type(math.pi)

In [ ]:
print("math.pi")
type("math.pi")

In [ ]:
str_list = ['dog', 'koala', 'goose']
#sum(strList)/len(strList)
str_list

In [ ]:
len(str_list)

### **Nonetype**

In [ ]:
# None
type(None)

In [ ]:
#type(none) #Error, menoscula 'n'

In [ ]:
# None

x = None
type(x)

In [ ]:
none_list = [None]*5
#sum(none_list)/len(none_list)
len(none_list)

In [ ]:
none_list

In [ ]:
print(none_list)

### **Lists**

Una lista puede contener muchos tipos y también se puede utilizar para almacenar información ordinal.

In [ ]:
# List

my_list = [1, 1.1, "This is a sentence", None]

for i in my_list:
    print(type(i))

In [ ]:
#sum(my_list)/len(my_list)

In [ ]:
len(my_list)

In [ ]:
 my_list

In [ ]:
# List

my_list = [1, 2, 3]

for i in my_list:
    print(i,'\t', type(i))
    
my_list

In [ ]:
len(my_list)

In [ ]:
sum(my_list)/len(my_list) # note that this outputs a float

In [ ]:
my_list = ['third', 'first', 'medium', 'small', 'large']
my_list[0]

In [ ]:
my_list.sort()
my_list

In [ ]:
my_list[:2] #from begining to 2(pos 2 not included)

In [ ]:
my_list[2:] #from pos 2 to end.

In [ ]:
my_list[:] #from begining to end

In [ ]:
my_list[-1] #last of the list

In [ ]:
my_list[:-2] #from begining to second last(not included) element.

In [ ]:
my_list[-2:] #from second last (included) to end.

There are more datatypes available when using different libraries such as Pandas and Numpy, which we will introduce to you as we use them.